[ req ]
default_bits = 2048

prompt = no
distinguished_name=req_distinguished_name
req_extensions = v3_req

[ req_distinguished_name ]
countryName=CN
stateOrProvinceName=Shanghai
localityName=Pudong
organizationName=InfrSHQA
organizationalUnitName=InfrSHQA
commonName=Infr_SH_NE127
emailAddress=ne127@infr.com.cn

[ v3_req ]
keyUsage = nonRepudiation, digitalSignature, keyEncipherment
basicConstraints=CA:false
subjectKeyIdentifier = hash
subjectAltName = @alternate_names

[ alternate_names ]
IP        = 172.29.201.127
