[ default ]
home = .
name = myne111

[ req ]
default_bits = 2048

prompt = no
distinguished_name=req_distinguished_name
req_extensions = v3_req

[ req_distinguished_name ]
countryName=CN
stateOrProvinceName=Shanghai
localityName=Pudong
organizationName=$name
organizationalUnitName=$name.unit
commonName=$name.com.cn
emailAddress=it@$name.com.cn

[ v3_req ]
# keyUsage=critical,keyCertSign,cRLSign
extendedKeyUsage=serverAuth,codeSigning,clientAuth
basicConstraints=CA:false
subjectKeyIdentifier = hash
subjectAltName = @alternate_names

[ alternate_names ]
DNS.1        = client.g31ne.com
DNS.2        = client.com.cn
IP.1 	= 10.13.11.182
IP.2 	= 10.13.51.92
IP.3 	= 172.29.22.165
IP.4 	= 172.29.22.165
IP.5 	= 172.29.202.84
IP.6 	= 172.29.202.83
IP.7 	= 172.29.202.81
IP.8 	= 172.29.202.82
IP.9 	= 172.29.202.87

